@font-face {
  font-family: "iconfont"; /* Project id 2308613 */
  src: url('iconfont.woff2?t=1623397861366') format('woff2'),
       url('iconfont.woff?t=1623397861366') format('woff'),
       url('iconfont.ttf?t=1623397861366') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e62f";
}

.icon-tuichuquanping:before {
  content: "\e713";
}

.icon-control_close01:before {
  content: "\e67e";
}

.icon-control04_jianceyi01:before {
  content: "\e67d";
}

.icon-yuyue_shenhe:before {
  content: "\e67c";
}

.icon-shanchu:before {
  content: "\e614";
}

.icon-chenggong:before {
  content: "\e617";
}

.icon-yuanyin:before {
  content: "\e619";
}

.icon-shibai:before {
  content: "\e61b";
}

.icon-shouye_renlian:before {
  content: "\e67a";
}

.icon-shouye_guangbo:before {
  content: "\e67b";
}

.icon-yuangong_add:before {
  content: "\e679";
}

.icon-shijian:before {
  content: "\e678";
}

.icon-renyuan:before {
  content: "\e618";
}

.icon-jinjilianxiren:before {
  content: "\e62a";
}

.icon-shuidian-shui:before {
  content: "\e675";
}

.icon-yuangong-ren:before {
  content: "\e676";
}

.icon-shuidian-dian:before {
  content: "\e677";
}

.icon-jiance_zhaomingdeng:before {
  content: "\e670";
}

.icon-jiance_kongtiao:before {
  content: "\e671";
}

.icon-jiance_guangbo:before {
  content: "\e672";
}

.icon-jiance_chuanglian:before {
  content: "\e673";
}

.icon-jiance_zidongmen:before {
  content: "\e674";
}

.icon-control04_menu:before {
  content: "\e66f";
}

.icon-control04_guangbo:before {
  content: "\e659";
}

.icon-control04_door1:before {
  content: "\e66d";
}

.icon-control02_yinliang:before {
  content: "\e66e";
}

.icon-shouye_aqi:before {
  content: "\e663";
}

.icon-shouye_booking02:before {
  content: "\e664";
}

.icon-shouye_control02:before {
  content: "\e665";
}

.icon-shouye_control01:before {
  content: "\e666";
}

.icon-shouye_booking01:before {
  content: "\e667";
}

.icon-shouye_home01:before {
  content: "\e668";
}

.icon-shouye_home02:before {
  content: "\e669";
}

.icon-shouye_kuaijie:before {
  content: "\e66a";
}

.icon-shouye_my02:before {
  content: "\e66b";
}

.icon-shouye_my01:before {
  content: "\e66c";
}

.icon-fangjian_flour:before {
  content: "\e65c";
}

.icon-fangjian_computer:before {
  content: "\e65d";
}

.icon-fangjian_all:before {
  content: "\e65e";
}

.icon-fangjian_arrow:before {
  content: "\e65f";
}

.icon-fangjian_building:before {
  content: "\e660";
}

.icon-fangjian_meeting:before {
  content: "\e661";
}

.icon-fangjian_search:before {
  content: "\e662";
}

.icon-control04_jianceyi:before {
  content: "\e658";
}

.icon-control04_chuanglian:before {
  content: "\e65a";
}

.icon-control04_kongtiao:before {
  content: "\e65b";
}

.icon-control03_jiaquan:before {
  content: "\e653";
}

.icon-control03_co2:before {
  content: "\e654";
}

.icon-control03_pm25:before {
  content: "\e655";
}

.icon-control03_shidu:before {
  content: "\e656";
}

.icon-control03_wendu:before {
  content: "\e657";
}

.icon-control02_nuanqi:before {
  content: "\e64e";
}

.icon-control02_chushi:before {
  content: "\e64f";
}

.icon-control02_songfeng:before {
  content: "\e650";
}

.icon-control02_sun:before {
  content: "\e651";
}

.icon-control02_zhileng:before {
  content: "\e652";
}

.icon-control01_fangxue:before {
  content: "\e649";
}

.icon-control01_class:before {
  content: "\e64a";
}

.icon-control01_zhoumo:before {
  content: "\e64b";
}

.icon-control01_tufa:before {
  content: "\e64c";
}

.icon-control01_hanshujia:before {
  content: "\e64d";
}

.icon-control_arrow:before {
  content: "\e641";
}

.icon-arrow02:before {
  content: "\e642";
}

.icon-control_jian:before {
  content: "\e643";
}

.icon-control_close:before {
  content: "\e644";
}

.icon-control_dandu:before {
  content: "\e645";
}

.icon-control_deng:before {
  content: "\e646";
}

.icon-control_jia:before {
  content: "\e647";
}

.icon-control_yezi:before {
  content: "\e648";
}

